<div [style.display]="'flex'">
  <p>parent works!</p>
  <p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p>
  <p>parent works!</p>
  <p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p>
  <div>
    <p>parent works!</p>
    <p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p>
    <p>parent works!</p>
    <p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p><p>parent works!</p></div>
</div>
